/* https://v4-alpha.getbootstrap.com/layout/overview/ */

html {
    background-color: #59759D;
    box-sizing: border-box;
    min-height: 100%;
    position: relative;
}

/*----------------------------------------------------
Box sizing code from class example:
http://www.paulirish.com/2012/box-sizing-border-box-ftw/
-----------------------------------------------------*/

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #FFF;
    border: 25px solid #7A91B1;
    border-radius: 5px;
    margin: 0 auto;
    min-width: 300px;
    padding: .5em 1.5em 4.5em 1.5em;
    position: relative;
    width: 60%;
}

div.container {
    width: 100%;
}

footer {
    background-color: #1D2731;
    bottom: 0;
    height: 25px;
    left: 0;
    padding: 15px;
    position: absolute;
    text-align: right;
    width: 100%;
}

/* header and navigation */

.container-fluid {
    border-bottom: 3px solid #E7EBF0;
    padding-bottom: .75em;
}

.navbar.navbar-light a {
    font-size: 1.25em;
    padding-right: 2em;
}

a.navbar-brand {
    color: #1D2731;
    font-size: 1.65em !important;
    font-weight: bold;
}

/* styling for welcome.blade.php page */

.intro {
    margin-top: 5em;
    text-align: center;
}

.intro h1 {
    font-size: 4.75em;
    margin-top: -.35em;
}

.intro h2, .intro a {
    font-size: 1.75em;
}

/* typography styling */

h2 {
    font-size: 2em;
}

h3, .addnew, .oneplace {
    font-size: 1.5em;
}

.results {
    font-size: 1.25em;
}

small {
    color: red;
}

div.exception {
    font-size: 1.5em;
}

.message {
    font-size: 1.15em;
    font-weight: bold;
    margin-bottom: .5em;
}

/*https://jbkflex.wordpress.com/2012/01/16/truncating-longer-page-titles-with-an-ellipsis-html5-mobile-web-app/*/

.truncate, .placenames h3, .locationnames h3 {
    font-size: 1.15em;
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#uniquelocation a.locationAction i, div#uniqueplace a.placeAction i {
    font-size: 135%;
    padding-right: .35em;
}

/* image styling */

img {
    height: 150px;
    margin: .25em 1em .5em 0em;
    width: 150px;
}

.img-one {
    height: 200px;
    margin: .25em 1em 1em 0em;
    width: 200px;
}

.img-all {
    height: 125px;
    margin: .25em 1em .5em 0em;
    width: 125px;
}

/* styling for text box in places.show.{id}, places.search,
and locations.show.{id} */

div.notes {
    background-color: #59759D;
    color: white;
    height: 200px;
    overflow: scroll;
    padding: 1em;
    width: 85%;
}

/* styling for form elements */

.control-label {
    font-size: 1.15em;
}

legend {
    font-size: 1.25em;
    font-weight: bold;
}

/* styling for error messages */

div.alert.alert-danger.error li {
    color: white;
    font-size: 1.25em;
    font-style: italic;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    body {
        padding: .5em .5em 3em .5em;
        width: 100%;
	}
    .intro h1 {
        font-size: 3.75em;
    }
    h1 {
        font-size: 2.25em;
    }
    div.col-sm-4.col-md-3.col-lg-3 {
        height: 100px;
    }
    a.btn.btn-info {
        margin-top: 10px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    body {
        width: 75%;
    }
    h1 {
        font-size: 1.75em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        width: 95%;
    }

    h1 {
        font-size: 2em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        width: 80%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	body {
        width: 65%;
	}
}

@media (min-width: 1500px) {
    body {
        width: 60%;
    }
}

@media (min-width: 1700px) {
    body {
        width: 58%;
    }
}
