html {
    background-attachment: fixed;
    background-color: #2c3e50;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* background-image code: http://sixrevisions.com/css/responsive-background-image/ */
/* background-image source: https://pixabay.com/en/scrabble-game-board-game-words-243192/ */

body {
    background-color: #FFF;
    border: 25px solid turquoise;
    border-radius: 5px;
    font-family: 'EB Garamond', serif;
    font-style: normal;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 65%;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

nav .tileHorizontal li {
    display: inline-block;
    float: right;
    margin-right: 1.5em;
}

.horizontal li {
    float: left;
}

.horizontal h3 {
    font-size: 1em;
}

/* styling for form elements */
.form-group {
    padding: 0 0 2.5px 15px;
}

.radios {
    padding-bottom: 15px;
}

legend, label {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: -10px;
}

.radios legend {
    margin-bottom: 1px;
}

.checkbox legend {
    margin-bottom: -15px;
}

label:first-child {
    color: #2c3e50;
    font-size: 2em;
    font-weight: bold;
}

.checkbox label.control-label:last-child {
    margin-top: -15px;
}

/* set unique id for text box */
#enterWord {
    height: 40px;
    width: 200px;
}

.control-label, #enterWord {
    color: grey;
    font-size: 1.75em;
    font-weight: normal;
}

p.form-control-static {
    color: green;
    font-size: 1.36em;
    font-style: italic;
    text-align: left;
}

/* styling for 'calculate' and 'reset' buttons */
.btn {
    margin-top: 30px;
    margin-bottom: 35px;
}

/* styling for error messages */
div.error ul {
margin-left: -15px;
}

div.error li {
    color: red;
    font-size: 1.36em;
    font-style: italic;
    font-weight: bold;
}

/* styling for the 'alert' box */
div.alert.alert-success {
    padding: .75em;
    width: 100%;
}

div.alert.alert-success p {
    font-size: 1.75em;
    text-align: center;
}

/* https://v4-alpha.getbootstrap.com/layout/overview/ */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    body {
        margin-top: 3%;
        margin-bottom: 3%;
        padding: 5px 25px;
	}
    h1, legend, label, label:first-child {
        font-size: 1.5em;
    }
    #enterWord {
        height: 30px;
        width: 175px;
        margin-bottom: -10px;
    }
    .control-label, #enterWord, .radios label.control-label, .checkbox label.control-label {
        font-size: 1.5em;
    }
    .radios {
        padding-bottom: 10px;
    }
    input#calculate_btn.btn-primary.btn-small {
        margin-top: 17.5px;
        margin-bottom: 15px;
    }
    p.form-control-static, div.error li, input#calculate_btn.btn-primary.btn-small, div.alert.alert-success p {
        font-size: 1.1em !important;
        font-weight: normal;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    body {
		margin-top: 3%;
        margin-bottom: 3%;
        padding: 7.5px 25px;
	}
    h1 {
        font-size: 2em;
    }
    input#calculate_btn.btn-primary.btn-small {
        margin-top: 20px;
        margin-bottom: 12.5px;
    }
    p.form-control-static, div.error li, input#calculate_btn.btn-primary.btn-small, div.alert.alert-success p {
        font-size: 1.25em !important;
        font-weight: normal;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
	body {
		margin-top: 5%;
        margin-bottom: 5%;
	}
    input#calculate_btn.btn-primary.btn-small {
        font-size: 1em;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    div.alert.alert-success p {
        font-size: 1.25em;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	body {
	}
}

@media (min-width: 1500px) {
    body {
    }
}

@media (min-width: 1700px) {
    body {
    }
}
